.blue-text{
    color: blue;
}
.red-text{
    color: red;
}
.green-text{
    color: green;
}
.aqua-text{
    color: aqua;
}
.violet-text{
    color: violet;
}
.purple-text{
    color: purple;
}
.yellow-text{
    color: yellow;
}
.yellow.green-text{
    color: yellowgreen;
}
.white-text{
    color: white;
}
.custom-color1{
    color: rgb(177, 174, 43);
}

/**Available COLORS

-------------------------------

blue = blue-text
red = red-text
green = green-text
aqua = aqua-text
violet = violet-text
purple = purple-text
yellow = yellow-text
yellow green = yellow green-text
white = white-text

-------------------------------**/